<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Account Settings / </span> Access Tokens
</h4>

<div class="row">
  <div class="col-12 mb-md-0 mb-4">
    <div class="card">
      <h5 class="card-header">Access Tokens</h5>
      <div class="card-body">
        <p>Manage access tokens that can access your projects</p>
        <%= if (len(accessTokens) == 0) { %>
        <p>You don't have any access tokens yet! <a href="/access_tokens/new">Click here to create one</a></p>
        <% } %>
        <%= for (token) in accessTokens { %>
        <div class="d-flex mb-3">
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">Google</h6>
              <small class="text-muted">Calendar and contacts</small>
            </div>
            <div class="col-3 text-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox" role="switch" />
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>