<div class="py-4 mb-2">
  <h3 class="d-inline-block">AccessToken Details</h3>

  <div class="float-end">
    <%= linkTo(accessTokensPath(), {class: "btn btn-info"}) { %>
      Back to all AccessTokens
    <% } %>
    <%= linkTo(editAccessTokenPath({ access_token_id: accessToken.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(accessTokenPath({ access_token_id: accessToken.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
