<div class="py-4 mb-2">
  <h3 class="d-inline-block">Application Details</h3>

  <div class="float-end">
    <%= linkTo(applicationsPath(), {class: "btn btn-info"}) { %>
      Back to all Applications
    <% } %>
    <%= linkTo(editApplicationPath({ application_id: application.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(applicationPath({ application_id: application.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
