<div class="py-4 mb-2">
  <h3 class="d-inline-block">Clusters</h3>
  <div class="float-end">
    <%= linkTo(newClustersPath(), {class: "btn btn-primary"}) { %>
      Create New Cluster
    <% } %>
  </div>
</div>

<h4>Managed Clusters</h4>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>Provider</th>
    <th>Region</th>
    <th>Version</th>
  </thead>
  <tbody>
    <%= for (cluster) in clusters { %>
      <%= if (cluster.Managed) { %>
      <tr>
        <td><%= cluster.Name %></td>
        <td><%= cluster.Provider %></td>
        <td><%= cluster.Region %></td>
        <td><%= cluster.Version %></td>
      </tr>
      <% } %>
    <% } %>
  </tbody>
</table>

<h4>Custom Clusters</h4>
<table class="table table-hover table-bordered">
  <thead class="thead-light">
  <th>Name</th>
  <th>Provider</th>
  <th>Region</th>
  <th>Version</th>
  <th>&nbsp;</th>
  </thead>
  <tbody>
  <%= for (cluster) in clusters { %>
  <%= if (!cluster.Managed) { %>
  <tr>
    <td><%= cluster.Name %></td>
    <td><%= cluster.Provider %></td>
    <td><%= cluster.Region %></td>
    <td><%= cluster.Version %></td>
    <td>
      <div class="float-end">
        <%= linkTo(clusterPath({ cluster_id: cluster.ID }), {class: "btn btn-info", body: "View"}) %>
        <%= linkTo(editClusterPath({ cluster_id: cluster.ID }), {class: "btn btn-warning", body: "Edit"}) %>
        <%= linkTo(clusterPath({ cluster_id: cluster.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
      </div>
    </td>
  </tr>
  <% } %>
  <% } %>
  </tbody>
</table>
