<h4 class="fw-bold py-3 mb-4">Clusters</h4>

<div class="card">
  <h5 class="card-header">Managed Clusters</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Provider</th>
        <th>Region</th>
        <th>Version</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      <%= for (cluster) in clusters { %>
        <%= if (cluster.Managed) { %>
          <tr>
            <td><strong><%= cluster.Name %></strong></td>
            <td><%= cluster.Provider %></td>
            <td><%= cluster.Region %></td>
            <td><%= cluster.Version %></td>
          </tr>
        <% } %>
      <% } %>
      </tbody>
    </table>
  </div>
</div>

<hr class="my-5" />

<div class="card">
  <h5 class="card-header">Custom Clusters</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <caption class="ms-4">
        <%= linkTo(newClustersPath()) { %>
        Create New Cluster
        <% } %>
      </caption>
      <thead>
      <tr>
        <th>Name</th>
        <th>Provider</th>
        <th>Region</th>
        <th>Version</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      <%= for (cluster) in clusters { %>
      <%= if (!cluster.Managed) { %>
      <tr>
        <td><%= cluster.Name %></td>
        <td><%= cluster.Provider %></td>
        <td><%= cluster.Region %></td>
        <td><%= cluster.Version %></td>
        <td>

          <div class="btn-group" role="group" aria-label="Second group">
            <a href="<%= pathFor(clusterPath({ cluster_id: cluster.ID })) %>" type="button" class="btn btn-outline-secondary">
              <i class="tf-icons bx bx-bold"></i>
            </a>
            <a href="<%= pathFor(editClusterPath({ cluster_id: cluster.ID })) %>" type="button" class="btn btn-outline-secondary">
              <i class="tf-icons bx bx-italic"></i>
            </a>
            <a href="<%= pathFor(clusterPath({ cluster_id: cluster.ID })) %>" type="button" class="btn btn-outline-secondary">
              <i class="tf-icons bx bx-underline"></i>
            </a>
          </div>
        </td>
      </tr>
      <% } %>
      <% } %>
      </tbody>
    </table>
  </div>
</div>


