<div class="py-4 mb-2">
  <h3 class="d-inline-block">Cluster Details</h3>

  <div class="float-end">
    <%= linkTo(clustersPath(), {class: "btn btn-info"}) { %>
      Back to all Clusters
    <% } %>
    <%= linkTo(editClusterPath({ cluster_id: cluster.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(clusterPath({ cluster_id: cluster.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
